@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: black; /* hanya hitam di atas */
  font-family: "Acme", sans-serif;
}

/* Bagian atas dengan gambar dan teks */
.paralax {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(black, #38873b);
}

.paralax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #c4c2c3, transparent);
  z-index: 1000;
}

.paralax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.8em;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 3px 3px 10px gray;
  z-index: 1000;
}

.paralax img#meteorid {
  z-index: 100;
}

#button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: black;
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  text-decoration: none;
  z-index: 1000;
  cursor: pointer;
}

.description {
  position: relative;
  height: 100vh;
  background-color: #c4c2c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description .content {
  text-align: center;
  color: black;
  font-size: 1.2em;
}

.description p {
  font-size: 1.1em;
  }
